[Unit]
Description=chainmon
After=docker.service
Requires=docker.service

[Service]
WorkingDirectory=/home/ruff/chainmon
ExecStart=/home/ruff/chainmon/chainmon.sh chainmon.conf
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target

